doctype html
html
  head
    meta(charset='utf-8') 
    link(href='/main.css', rel='stylesheet')

  body
    h1 Timestamp Microservice
    h2 Example Usage

    p #{fullUrl}api/v1/timestamp/December%2015,%202015<br>
    p #{fullUrl}api/v1/timestamp/1450137600

    h2 Example Output
    p { "unix": 1450137600, "natural": "December 15, 2015" } 
h3 Credit to P1xt